@font-face {
    font-family: Marmelad;
    src: url(../fonts/Marmelad-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Marmelad;
}

.img-barra {
    height: 430px;
    background-position: center;
    background-image: url("../../img/Header.png");
    background-repeat: no-repeat;
}