<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Cadastro - Serviços UAU</title>

    <link rel="stylesheet" href="../public/style/cadastro.css">
</head>

<body>
    <div>
        <div class="card">

            <h1 class="posi">Cadastrar</h1>

            <label>Nome</label>
            <br>
            <img class="posi3" src="../public/svg/svgBarbara/usuario.svg">

            <input type="text" name="nome" placeholder="Digite aqui">
            <br>
            <br>
            <label>Email</label>
            <br>
            <img class="posi3" src="../public/svg/svgBarbara/email.svg">

            <input type="text" name="email" placeholder="Digite aqui">
            <br>
            <br>
            <label>Senha</label>
            <br>
            <img class="posi3" src="../public/svg/svgBarbara/senha.svg">

            <input type="text" name="senha" placeholder="Digite aqui">
            <br>
            <br>
            <label>Confirmar Senha</label>
            <br>
            <img class="posi3" src="../public/svg/svgBarbara/senha.svg" alt="cadeado">

            <input type="text" name="confirmar" placeholder="Digite aqui">
            <br>
            <br>
            <img class="posi2" src="../public/svg/svgBarbara/foto.svg">
            <div class="posição">
                <h2 class="posi4">Deseja Cadastrar como:</h2>
                <br>


                <input type="radio" name="opcao" value="Cliente">
                <span id="escrita">Cliente</span>

                <br>
                <input type="radio" name="opcao" value="Profissional">
                <span id="escrita">Profissional
            </div>
            <button type="submit">
                <h2>Cadastrar</h2>
            </button>
        </div>
    </div>
</body>
</html>