<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../public/style/cliente.css" rel="stylesheet">
    <title>Serviços UAU</title>
</head>

<body>

    <div class="conteiner">

        <div id="titulo">
            <img src="../public/svg/svgLivia/Logo 1.svg" alt="100" width="200">
        </div>


        <p>Cliente123 | <img src="../public/svg/svgLivia/Vector.svg" alt="40" width="20"> </p>

    </div>
    <div class="menu">
        <p>Serviços |</p>
        <p>Profissionais |</p>
        <p>Solicitar Agendamento</p>
    </div>
    <div id="busca">
        <img src="../public/svg/svgLivia/Search.svg" alt="20" width="20">
        <input type="search" placeholder="Buscar">
    </div>

    <div id="barra">
        <button>
            <a href=""></a> Busca por Categorias
        </button>
    </div>

    <div class="categorias">
        <img src="../public/svg/svgLivia/image 10.svg" alt="user.img">
        <img src="../public/svg/svgLivia/image 12.svg" alt="imagem">
        <p class="texto">Domestica</p>
        <p class="texto1">Uberlândia, MG </p>
        <p class="texto2">Micropigmentação de sobrancelha</p>
        <p class="texto3">São Paulo, SP</p>
    </div>

    <button div class="solicitação">

        <a href=""></a> Solicitar Agendamento
    </button>

    <button div class="solicitação1">

        <a href=""></a> Solicitar Agendamento
    </button>

    <div class="categorias1">
        <img src="../public/svg/svgLivia/image 13.svg" alt="img">
        <img src="../public/svg/svgLivia/image 14.svg" alt="img1">
        <p class="texto4">Babá</p>
        <p class="texto5">Brasília, DF </p>
        <p class="texto6">Eletricista</p>
        <p class="texto7">Porto Alegre, RS</p>
    </div>


    <button div class="solicitação2">

        <a href=""></a> Solicitar Agendamento
    </button>

    <button div class="solicitação3">

        <a href=""></a> Solicitar Agendamento
    </button>

    <div id="opções">
        <input type="radio" name="opcao" value="categorias"> Todas as Categorias
        <br>
        <p>Serviços</p>
        <input type="radio" name="opcao" value="informática"> Informática
        <br>
        <input type="radio" name="opcao" value="saude/beleza"> Saúde/Beleza
        <br>
        <input type="radio" name="opcao" value="serviços domesticos"> Serviços domésticos
        <br>
        <input type="radio" name="opcao" value="eventos/festas"> Eventos/Festas
        <br>
        <input type="radio" name="opcao" value="leitura"> Leitura
        <br>
        <input type="radio" name="opcao" value="outros"> Outros
    </div>

    <p>Feedback</p>
    <div class="feedback">
        <input type="feedback" placeholder="Comentar sobre...">
    </div>
</body>