<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Serviços UAU ::</title>

    <link rel="stylesheet" href="../public/style/index/estilos.css">
    <link rel="stylesheet" href="../public/style/index/header.css">

</head>

<body>
    <section>
        <div class="barra-superior img-barra">
            <div class="marca itens">
                <h1>Serviços UAU</h1>
            </div>

            <div class="links itens link1">
                <a href="../views/newLogin.html">Login</a>
            </div>

            <div class="links itens">
                <a href="../views/newCadastro.html">Cadastrar</a>
            </div>
        </div>

        <div class="center">
            <!-- <div class="div-gerencie-container"> -->
            <div class="img">
                <div class="centerImg">
                    <p>Gerencie seu tempo e projetos com a nossa ferramenta</p>
                    <img class="imgTarefa" src="../public/img/Tarefas.png" alt="tarefa">
                </div>
            </div>

            <!-- <div class="div-notoriedade-container"> -->
            <div class="img">
                <div class="centerImg">
                    <p>Gerando notoriedade e agilidade ao executar seus serviços</p>
                    <img src="../public/img/Notoriedade.png" alt="">
                </div>
            </div>
        </div>


        <!-- <div class="div-central-container"> -->
        <div class="imgText">
            <div class="imgTextCenter">
                <h1>Como funciona</h1>
                <p>Nos dias de hoje tempo é algo fundamental para podermos otimizar nossas tarefas. Pensando nisso
                    trouxemos a Serviços Uau. <br> Com o nosso sistema você poderá criar tarefas com anexos de arquivos,
                    sistema de notificações para as tarefas,<br>envio
                    da conclusão do serviço para o seu cliente e muitas outras ferramentas. </p>
            </div>
        </div>

        <!-- <div class="div-card-container"> -->
        <div class="planos">
            <h1>Conheça nossos planos</h1>
        </div>
    </section>
    <section>
        <div class="cardCenter">
            <div class="card">
                <div class="cardTitle">
                    <h2>Gratis</h2>
                    <p> Agendamento de Serviços Gerenciamento pelo app </p>
                </div>
                <div class="cardBtn">
                    <a href="">Escolher</a>
                </div>
            </div>

            <div class="card">
                <div class="cardTitle">
                    <h2>Pro</h2>
                    <p>R$19,90</p>
                    <p>Agendamento de serviços</p>
                    <p>Gerenciamento pelo app</p>
                    <p>Sistema de notificações para cada tarefa</p>
                    <p>Anexo de arquivos gerais</p>
                    <p>Envio de notificações e conclusão de serviço</p>

                </div>

                <div class="cardBtn">
                    <a href="">Escolher</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="footerMapa">
                <p style="color:white">Mapa do site</p>
                <a href="">Login</a>
                <a href="">Cadastrar</a>
            </div>
            <div class="footerContato">
                <p  style="color:white">Contato</p>
                <h5>Em caso de duvidas ou suporte <br>
                    entrar em contato pelo email:</h5>
                <h5>servicosuau@suporte.com</h5>
                <h5>Para ligações entrar em contato no <br> numero:</h5>
                <h5>+55 (34) 3425-4725</h5>
                <h5>0800 123 45678</h5>
            </div>
            <div class="footerSocial">
                <p style="color:white">Redes Sociais</p>
                <a href="">
                    <img src="../public/img/Instagram.png" alt="">
                </a>
                <a href="">
                    <img src="../public/img/Facebook.png" alt="">
                </a>
            </div>

        </div>
    </footer>

</body>

</html>