<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:: Serviços UAU ::</title>

    <link rel="stylesheet" href="../public/style/header.css">
    <link rel="stylesheet" href="../public/style/estilos.css">

</head>

<body>
    <section>
        <div class="barra-superior img-barra">
            <div class="marca itens">
                <h1>Serviços UAU</h1>
            </div>

            <div class="links itens link1">
                <a href="../views/login.html">Login</a>
            </div>

            <div class="links itens">
                <a href="../views/cadastrar.html">Registrar</a>
            </div>
        </div>

        <div class="center">
            <!-- <div class="div-gerencie-container"> -->
            <div class="img">
                <div class="centerImg">
                    <p>Gerencie seu tempo e projetos com a nossa ferramenta</p>
                    <img class="imgTarefa" src="../public/img/Tarefas.png" alt="tarefa">
                </div>
            </div>

            <!-- <div class="div-notoriedade-container"> -->
            <div class="img">
                <div class="centerImg">
                    <p>Gerando notoriedade e agilidade ao executar seus serviços</p>
                    <img src="../public/img/Notoriedade.png" alt="">
                </div>
            </div>
        </div>


        <!-- <div class="div-central-container"> -->
        <div class="imgText">
            <div class="imgTextCenter">
                <h1>Como funciona</h1>
                <p>Nos dias de hoje tempo é algo fundamental para podermos otimizar nossas tarefas. Pensando nisso trouxemos a Serviços Uau. <br> Com o nosso sistema você poderá criar tarefas com anexos de arquivos, sistema de notificações para as tarefas,<br>envio
                    da conclusão do serviço para o seu cliente e muitas outras ferramentas. </p>
            </div>
        </div>

        <!-- <div class="div-card-container"> -->
        <div class="planos">
            <h1>Conheça nossos planos</h1>
        </div>
    </section>
    <section>
        <div class="cardCenter">
            <div class="card">
                <div class="cardTitle">
                    <h2>Gratis</h2>
                    <p> Agendamento de Serviços Gerenciamento pelo app </p>
                </div>
                <div class="cardBtn">
                    <a href="">Escolher</a>
                </div>
            </div>

            <div class="card">
                <h2>Pro</h2>
                <p>R$19,90</p>
                <p>texto</p>
                <div>
                    <a href="">Escolher</a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div>
                <p style="color:white">01</p>
            </div>
            <div>
                <p style="color:white">01</p>
            </div>
            <div>
                <p style="color:white">01</p>
            </div>

        </div>
    </footer>

</body>

</html>