<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serviços UAU</title>

    <link href="../public/style/profissional.css" rel="stylesheet">

</head>

<body>

    <div class="flex-conteiner">
        <div id="titulo">
            <img src="../public/svg/svgNicolas/Desktop - 3 1.svg" alt="100" width="200">
        </div>
        <button div class="opcao1">Mensagens recebidas +</button>
        <button div class="opcao2">Clientes</button>
        <button div class="opcao3">Atividades Realizadas</button>
        <button div class="opcao4">Blog</button>
        <img src="../public/svg/svgNicolas/user 1.svg" alt="20" width="20">
        <p div class="opcao5"></p>
        <img src="../public/svg/svgNicolas/alarm 1.svg" alt="20" width="20">
    </div>

    <p class="texto">Principais Funcionalidades:</p>

    <div>
        <div class="funcionalidades">
            <button>
        <img src="../public/svg/svgNicolas/contract 1.svg" alt="45" width="45">
        <br>
        <a href=""></a> Cadastrar serviços prestados
      </button>
            <button>
        <img src="../public/svg/svgNicolas/camera 1.svg" alt="45" width="45">
        <br>
        <a href=""></a> Galeria
      </button>
            <button>
        <img src="../public/svg/svgNicolas/clock 1.svg" alt="45" width="45">
        <br>
        <a href=""></a> Horários disponiveis
      </button>
            <button>
        <img src="../public/svg/svgNicolas/notepad 1.svg" alt="45" width="45">
        <br>
        <a href=""></a> Cadastrar elemento serviço
      </button>


            <button div class="chat">
        <a href=""></a> Chat Online - Atendimento ao Cliente
      </button>
        </div>
    </div>
</body>

</html>